<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendrier</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}" type="image/png">
    <link rel="icon" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}" type="image/png">
</head>
<body>
<div class="container mt-5">
    <h3 class="card-title">📅 Calendrier</h3>
    <h3 class="card-title">
        👤 Utilisateur : <span th:text="${#authentication.principal.nom}"></span>
        - solde : <span th:text="${#authentication.principal.solde}"></span> points
        <a class="btn btn-link" th:href="@{/logout}">Se déconnecter</a></h3>

    <div class="row mt-4">
        <table class="table table-striped table-bordered text-center">
            <thead>
            <tr>
                <th scope="col">Jour</th>
                <th scope="col">Gif</th>
                <th scope="col">Utilisateur</th>
                <th scope="col">Réaction(s)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jour:${jours}">
                <th scope="row" th:text="${jour.date}"></th>
                <td>
                    <div class="d-flex flex-column" th:if="${jour.gif != null}">
                        <img alt="gif" class="m-auto" height="100" th:src="${jour.gif.url}" width="100">
                        <span th:text="${jour.gif.legende}"></span>
                    </div>
                    <div class="d-flex flex-column" th:unless="${jour.gif != null}">
                        <span th:text="${jour.points} + ' points'"></span>
                        <div>
                            <a class="btn btn-link pe-1" th:href="@{'/gif/save/form/' + ${jour.date}}">Ajouter un gif
                                distant</a>
                            <a class="btn btn-link ps-1" th:href="@{'/form/gif-local/' + ${jour.date}}">Ajouter un gif
                                local</a>
                        </div>
                    </div>
                </td>
                <td>
                    <span th:if="${jour.utilisateur != null}" th:text="${jour.utilisateur.nom}"></span>
                </td>
                <td>
                    <div class="d-flex flex-row justify-content-center" th:if="${jour.gif != null}">
                        <a class="btn btn-outline-secondary mx-2"
                           th:classappend="${jour.hasReactionByUser(reaction, #authentication.principal)} ? 'disabled btn-outline-success' : ''"
                           th:each="reaction:${reactions}"
                           th:href="@{'/jour/reaction/' + ${jour.date} + '/' + ${reaction.id}}"
                           th:text="${reaction.getUnicode()} + ' x ' + ${jour.getNbReactionByReaction(reaction)}"
                           th:title="${jour.getUsernamesByReaction(reaction)}"></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination d-flex justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:href="@{'?page=0'}">Première page</a>
                </li>
                <li class="page-item" th:if="${jours.getNumber() > 0}">
                    <a class="page-link" th:href="@{'?page=' + ${jours.getNumber()-1} }">Page précédente</a>
                </li>
                <li class="page-item" th:if="${jours.getNumber() < jours.getTotalPages()-1}">
                    <a class="page-link" th:href="@{'?page=' + ${jours.getNumber()+1} }">Page suivante</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{'?page=' + ${jours.getTotalPages() -1 }}">Dernière page</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
